{% extends 'blog/base.html' %}
{% block base %}
<body>
<p style="font-size: 200%" align="center">Login Page: please input right usename and password!</p>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr> 
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<input type="submit" value="login" />
<p style="font-size: 130%" align="right"><a href="{% url 'signup_user' %}">Signup</a></p>
</form>
</body>
{% endblock %}